.progressBar {
    height: 35px;
    background-color: #8f5c04;
    transition: 0.5s all linear;
    border-radius: 5px;
    position: relative;

    background-image: linear-gradient(-45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent);

    animation: move 4s linear infinite;
    background-size: 50px 50px;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}


.teamPic {
    max-height: 100px;
    position: absolute;
    right: -70px;
    top: -30px;
}

.teamName{
    color: white;
    font-weight: 700;
    position: absolute;
    width: 300px;
    top: 6px;
    left: 5px;
    z-index: 10;
}